* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #5f7fac, #005d6b );
}
.contenair {
    max-width: 400px;
    margin: auto;
    background: white;
    border-radius: 10px;
    background-color: #d2f6fc;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.head h1 {
    font-family: 'Billabong', cursive;
    font-size: 28px;
}

.icons i {
    font-size: 20px;
    margin-left: 15px;
}


.stories {
    display: flex;
    padding: 10px;
    overflow-x: auto;
    border-bottom: 1px solid #ddd;
}

.story {
    text-align: center;
    margin-right: 10px;
}

.story-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #009dff;
    background: #ccc;
}

.prof{
    width: 57px;
    height: 57px;
    border-radius: 50%;
}


.story span {
  font-size: 12px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.profile{
    width: 35px;
    height: 30px;
    border-radius: 50%;
}

.username {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.verified{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 3px;
}

.post-img {
  width: 100%;
  height: auto;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.post-actions i {
  font-size: 20px;
  margin-right: 10px;
}

.post-info {
  padding: 0 10px 10px;
  font-size: 14px;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.bottom-nav i {
  font-size: 22px;
}