*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #5f7fac, #005d6b );
}

.formulaire{
    text-align: center;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: #d2f6fc;
}


h1{
    font-family: 'Grand Hotel', cursive;
    font-size: 45px;
    margin: 40px;

}

input {
    background-color: #f0efef;
    width: 280px;
    padding: 7px;
    border: .3px solid rgba(128, 128, 128, 0.414);
    border-radius: 4px;
    margin: 5px;
}

input[type="submit"] {
    background-color: rgb(168, 111, 248);
    color: #ffffff;
    border-radius: 8px;
    margin: 15px;
}

input[type="submit"]:hover{
    background-color: rgb(143, 83, 228);
}

.ou{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 750;
    text-decoration-line: line-through;
    color: gray;
}

a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: #00bbff;
    font-weight: 600;
    margin-top: 20px;
}

img{
    width: 25px;
}

.forgetting {
    display: block;
    margin-bottom: 20px;
    color: rgb(82, 82, 82);
    font-weight: 600;
}

.para-form{
    width: 320px;
    color: rgb(83, 83, 83);
    margin: auto;
}

p{
    text-align: center;
}

select {
    background: linear-gradient(135deg, #b1ccf2, #058397 );
}

.copyright{
    margin-right: 90px;
}