.contenaire{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}

body{
    background-color: rgb(203, 203, 203);
}

.paragraphe{
    font-size: 20px;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
}


h1{
    color: blue;
}

.formul {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 7px;
    padding: 15px;
    box-shadow: 5px 5px 10px gray;

}

input{
    width: 250px;
    padding: 5px;
    margin: 10px;
}


.connecter{
    background-color: blue;
    color: #fff;
    width: 260px;
    border: none;
    padding: 6px;
    border-radius: 4px;
}


a {
    text-decoration: none;
    font-size: 12px;
}

.new_comp {
    background-color: rgb(56, 197, 53);
    color: #fff;
    padding: 6px;
    border-radius: 4px;
    font-size: 15px;
}

hr{
    margin-bottom: 20px;
}