* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #ffffff;
}

.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.choix {
  width: 250px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.selection{
  font-weight: bolder;
  width: 100%;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: #2563eb;
}

.range{
  border: 1px solid #d3d3d3;
  padding: 10px;
}

.range1{
  border: 1px solid #d3d3d3;
  border-radius: 5px 5px 0px 0px;
  padding: 5px;
}

.range3{
  border: 1px solid #d3d3d3;
  border-bottom: none;
  padding: 10px;
}

input[type="range"] {
  width: 100%;
  height: 6px;
  appearance: none;
  background: #e5e7eb;
  border-radius: 5px;
  margin-bottom: 15px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 13px;
  height: 13px;
  background: blue;
  border-radius: 50%;
}

.choix label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.price {
  display: flex;
  gap: 10px;
}

.price input {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
}

.range3 button{
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.products {
margin-top: 35px;}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.items{
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  padding: 5px;
  background-color: #ffffff;
}

.items:hover{
  transform: scale(1.1);
  color: #EE1C47;
  background: rgb(238, 237, 237);
}

.icons i {
  border: 1px solid gray;
  border-radius: 3px;
  width: 23px;
  height: 26px;
  padding: 3px;
}

.icons i:hover{
  transform: scale(1.1);
  color: #EE1C47;
  background: rgb(238, 237, 237);
}

hr{
  border: 1px solid #d3d3d3;
}

.posit {
  display: flex;
  gap: 20px;
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  margin-top: 30px;
  border: 1px solid #d3d3d3;
  border-bottom: none;
}

.card img {
  width: 300px;
  margin-bottom: 10px;
}

.card .img2{
  width: 185px;
}

.card h4 {
  font-size: 14px;
  margin-bottom: 10px;
}

.card .price {
  font-weight: bold;
  margin-bottom: 10px;
}

.card .price span {
  text-decoration: line-through;
  color: gray;
  font-size: 12px;
}

.card button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.card button:hover {
  background: #1e40af;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
}

button:hover{
  background-color: #1e40af;
}
